.gnb {
    background: linear-gradient(to bottom, #ee4d2d, #ff7337);

    padding: 10px;
    color: white;
}
.top, .bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 1200px;
    margin: auto;
}
.top {
    margin-bottom: 20px;
}
.left {
    margin-right: auto;
}
.left > li, .left > i {
    margin-right: 5px;
}
.right {
    margin-left: auto;
}   
.right > li{
    margin-left: 10px;
}
.right > li > i {
    margin-left: 10px;
}
.search {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.search-box {
    width: 870px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    padding: 1px;
}
.search-box > input {
    width: 799px;
    height: 38px;

    margin-right: auto;
    border: none;
}
.search-box > button {
    background-color:#fb6445;
    color: white;
    width: 60px;
    height: 35px;
    border: none;
    margin-right: 2px;
    border-radius: 2px;
}
.tags {
    margin-top: 5px;
    width: 870px;
}
.tags > li {
    margin-right: 11px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 12px;
}
.tags > li:last-child {
    margin-right: auto;
}
.cart > i {
    font-size: 28px;
    margin-right: 35px;
}
.bottom > img{
    margin-bottom: 10px;
}